{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">

            {% include 'includes/dashboard_sidebar.html' %}

        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                {% include 'includes/alerts.html' %}
                <strong class="d-inline-block mr-3">Change your password</strong>
            </header>
            <div class="card-body">
                
                <!-- 
                <div class="" style="text-align:center;">
                    <img src="{{ account_profile.profile_picture.url }}" alt="Profile Picture" width="100" style="border-radius: 50%;">
                </div><br>
               -->

                <div class="row"> 
                    <div class="col-md-12">

                        <form action="{% url 'change-password' %}" method="POST"> {% csrf_token %}
                           
                                <div class="form-group ">
                                    <label>Current Password</label>
                                   <input type="password" name="current_password" placeholder="current password"  class="form-control" required>
                                </div>

                                <div class="form-group ">
                                    <label>Enter New Password</label>
                                    <input type="password" name="new_password" placeholder="new password"  class="form-control" required>
                                </div>

                                <div class="form-group ">
                                    <label>Re-enter password</label>
                                    <input type="password" name="confirm_password" placeholder="confirm password"  class="form-control" required>
                                </div>

                            <div style="text-align:center;"><input type="submit" value="Submit" class="btn btn-primary"></div>
                            
                        </form>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}